body{
	background-color: black;
	align-items: center;
}

.imges{
	margin: auto;
	align-items: center;
	width: 90%;
	display: block;
}

img{
	margin:5px;
}

#back{
	font-family: 'Amatic SC', cursive;
	font-size: 25px; 
	border: 1px solid white; 
	background-color: transparent; 
	padding: 15px 25px; 
	color: white; 
	cursor: pointer;
	margin-top: 10px; 
	margin-left: 10px;
	position: fixed;
	z-index: 10;
}

#back:hover{
	background-color: white;
    color: black;
}