@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Oswald|Varela+Round');

#instafeed{
	display: none;
}

#text{
	width: 50vw;
	text-align: center; 
	margin: auto;
	z-index: 20;
	margin-top: 35vh;
	position: absolute;
	margin-left: 25vw;
	background-color: rgba(0,0,0,0.35);

}

#name{
	font-size: 50px;
	font-family: 'Amatic SC', cursive;
	color: white;
}

#title{
	font-size: 60px;
	font-family: 'Amatic SC', cursive;
	color: white;
	/*margin-right: 50vw;*/
}

#home{
	font-family: 'Amatic SC', cursive;
	font-size: 25px; 
	border: 1px solid white; 
	background-color: transparent; 
	padding: 15px 25px; 
	color: white; 
	cursor: pointer;
	margin-top: 10px; 
	margin-left: 10px;
	position: fixed;
	z-index: 10;
}

#home:hover{
	background-color: white;
    color: black;
}

#analysis{
	font-family: 'Amatic SC', cursive;
	font-size: 25px; 
	border: 1px solid white; 
	background-color: transparent; 
	padding: 15px 25px; 
	color: white; 
	cursor: pointer;
	position: absolute;
	z-index: 25;
	margin-top: 110vh;
	margin-left: 45vw;
	margin-bottom: 10vh;
}

#analysis:hover{
	background-color: white;
    color: black;
}

#share{
	font-family: 'Amatic SC', cursive;
	font-size: 25px; 
	border: 1px solid white; 
	background-color: transparent; 
	padding: 15px 25px; 
	color: white; 
	cursor: pointer;
	margin-left: 80vw; 
	margin-top: 10px;
	position: fixed;
	z-index: 10;
}

#share:hover{
	background-color: white;
    color: black;
}

#community{
	font-family: 'Amatic SC', cursive;
	font-size: 25px; 
	border: 1px solid white; 
	background-color: transparent; 
	padding: 15px 25px; 
	color: white; 
	cursor: pointer;
	margin-left: 88vw; 
	margin-top: 10px;
	position: fixed;
	z-index: 10;
}

#community:hover{
	background-color: white;
    color: black;
}

#poem{
	margin-top: 60vh;
	margin-bottom: 25vh;
	text-align: center; 
	z-index: 30;
	font-size: 40px;
	color: white;
	font-family: 'Oswald', sans-serif;
}


#guess{
	margin-top: 30vh;
	margin-bottom: 0;
	z-index: 30;
	font-size: 25px;
	color: white;
	font-family: 'Varela Round', sans-serif;
}

#line1{
	margin-top: 15vh;
	margin-bottom: 0;
	z-index: 30;
	font-size: 40px;
	color: white;
	font-family: 'Amatic SC', cursive;
}

#line2{
	margin-top: 2vh;
	margin-bottom: 0;
	z-index: 30;
	font-size: 40px;
	color: white;
	font-family: 'Amatic SC', cursive;
}

#line3{
	margin-top: 2vh;
	margin-bottom: 30vh;
	z-index: 30;
	font-size: 40px;
	color: white;
	font-family: 'Amatic SC', cursive;
}

#p1{
	margin: 0;
	z-index: 0;
	position: fixed;
	opacity: 0.85;
}